appdirs==1.4.3
packaging==16.8
pyparsing==2.2.0
six==1.10.0
dj-database-url==0.4.1
Django==1.9.7
gunicorn==19.6.0
psycopg2==2.6.1
whitenoise==2.0.6
requests==2.9.1

Flask==0.12.1
Flask-Cors==3.0.2
pymongo==3.2.12
simplejson==3.10.0
jsonschema==2.5.1
ujson==1.35
